{% extends "blogapp/base.html" %}
{% block title %}Reset Password{% endblock title %}

{% block content %}

<form action="#" method='post'>
    {% csrf_token %}
    <div class="max-w-md mx-auto bg-white p-8 rounded-lg shadow-md">
        <h2 class="text-2xl font-bold text-center text-gray-800 mb-6">Reset Password</h2>

          {% for i in reset_form %}
        <div>
          <label for="{{ field.id_for_label }}" class="block text-gray-700 font-medium mb-1">
            {{ i.label }}
          </label>
          {{ i }}
          {% if i.errors %}
            <p class="text-red-500 text-sm mt-1">{{i.errors|striptags }}</p>
          {% endif %}
        </div>
      {% endfor %}

        <button type="submit" class="w-full bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-lg transition duration-300">
            Reset Password
        </button>
    </div>
</form>

{% endblock content %}
