{% extends 'blogapp/base.html' %}
{% block title%}Update Blog{% endblock title %}

{% block content%}

<div class="min-h-screen bg-gradient-to-r from-blue-100 to-blue-200 flex items-center justify-center py-10 px-4">
  <div class="bg-white p-8 rounded-2xl shadow-xl w-full max-w-md">
    <h2 class="text-3xl font-extrabold text-center text-blue-800 mb-6">Update Blog</h2>
    
    <form action="#"  method="post" enctype="multipart/form-data" class="space-y-5">
      {% csrf_token %}
      {% for i in blog_form %}
        <div>
          <label class="block text-gray-700 font-medium mb-1">
            {{ i.label }} <br>
          </label>
          {{ i }}
          
          {% if i.errors %}
            <p class="text-red-500 text-sm mt-1">{{ i.errors|striptags }}</p>
          {% endif %}
        </div>
      {% endfor %}

      <button type="submit"
        class="w-full bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-lg transition duration-200">
        update Blog
      </button>
    </form>
  </div>
</div>


{% endblock content%}